.joke-list-content {
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100px;
  position: relative
}

.joke-list-content h5 {
  background: yellow;
  padding: 5px;
  font-size: 16px;
}

.joke-list-content .MuiCardContent-root {
  text-align: left;
  max-width: 40%;
}

p.joke-list-votes {
  position: absolute;
  bottom: 5px;
  font-size: 12px;
}